header{width: 100%;color: black;background-color: black;}
body{background-image:url(pict/cloud.jpg); background-repeat: no-repeat; background-position: center;background-size: cover;}
#elso{width: 20%;margin-top: 5%;background-color: lightblue; float: left;}
#masodik{width: 25%;margin-top: 5%;background-color:lightblue; float: left; }
#harmadik{width: 25%;margin-top: 5%;background-color:lightblue; float: left; }
#negyedik{width: 25%;margin-top: 5%;background-color:lightblue; float: left; }